<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.xiaorang.mybatis.mapper.UserMapper">
    <cache/>

    <resultMap id="UserMap" type="user">
        <id property="id" column="id"/>
        <result property="password" column="pwd"/>
    </resultMap>

    <select id="selectUserList" resultMap="UserMap">
        select *
        from `user`
    </select>

    <select id="selectUsers" parameterType="map" resultMap="UserMap">
        select *
        from user
        where id = #{id}
          and name like concat('%', #{name}, '%')
    </select>

    <select id="selectUserById" resultMap="UserMap">
        select *
        from user
        where id = #{id}
    </select>
</mapper>