<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="druid.properties">
        <property name="" value=""/>
    </properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="fun.xiaorang.mybatis.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="fun.xiaorang.mybatis.config.DruidDataSourceFactory">
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--        <mapper resource="fun/xiaorang/mybatis/dao/UserMapper.xml"/>-->
        <!--        <mapper class="fun.xiaorang.mybatis.dao.UserMapper" />-->
        <package name="fun.xiaorang.mybatis.mapper"/>
    </mappers>
</configuration>